%h1
  = t('messages.index.title')
%div
  = link_to t("messages.index.link_to.new"), new_message_path
%table.list
  %thead
    %tr
      %th
        = t('messages.index.table.head.date')
      %th
        = t('messages.index.table.head.body')
      %th
        &nbsp
  %tbody
    - for item in @messages
      %tr
        %td
          = item.created_at.strftime('%d-%m-%Y')
        %td
          = item.body
        %td
          = link_to t('messages.index.table.body.link_to.edit'), edit_message_path(item)
